* {
    margin: 0 auto;
}

a, .menu{
    color: white;
    font-size: larger;
    cursor: pointer;
}

.nav {
    background: blue;
    width: 100%;
    margin: 0 auto;
    color: white;
}

.menu {
    float: left;
}