* {
    margin: 0 auto;
}

body {
    background-color: gray;
}

a, .menu{
    color: white;
    font-size: larger;
    cursor: pointer;
}

.nav {
    position: static;
    width: 100%;
    background: blue;
    margin: 0 auto;
    padding: 10px;
    color: white;
    overflow: none;
}

.menu, .topbar-title {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.card {
    position: absolute;
    border-radius: 5px;
    margin: 5px;
    width:auto;
    border: 1px solid blue;
}

.card-title {
    padding: 10px;
    background-color: blue;
    color: white;
}

.card-content {
    color: black;
    padding: 10px;
    border-radius: 0 0 5px 5px;
    background-color: #808080;
}

.btn-plain {
    color: blue;
    margin-top: 50px;
    font-size: medium;
    text-decoration: none;
    cursor: pointer;
    outline: none;
}