* {
    margin: 0 auto;
}

a, .menu{
    color: white;
    font-size: larger;
    cursor: pointer;
}

.nav {
    background: blue;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    color: white;
}

.menu, .topbar-title {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}